#menu_btn{
  background-color: #000;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: none;
}

#menu_btn.active{
  transition: all 0.3s ease 0s;
  transform: translateX(-110px);
}

#menu_nav{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000 ;
  height: 100vh;
  padding: 2rem;
  transform: translateX(100%);
}

#menu_nav.active{
  transition: all 0.3s ease 0s;
  transform: translateX(0);
}

#menu_nav li{
  padding: 0;
  height: 20px;
  margin-top: 20px;
  font-size: 15px;
}

#menu_nav a{
  color: #fff;
}
